<!DOCTYPE html>
<html lang="en">
    <head>
        <title>etHOME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/logo.jpeg" />
        <meta name="format-detection" content="telephone=no">
        
        <link rel="icon" href="/static/images/favicon.ico"> 
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/css/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
         <div id="viewport"></div>
    </body>

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/underscore.js"></script>
    <script src="/static/js/lib/backbone.js"></script>
    <script src="/static/js/lib/socket.io.js"></script>    
    <script src="/static/js/lib/jquery-ui.min.js"></script>
    <script src="/static/js/lib/jqueryuitouchpunch.js"></script>
    <script src="/static/js/lib/raphael.js"></script>
    <script src="/static/js/lib/scale.raphael.js"></script>
    <script src="/static/js/lib/highcharts.js"></script>
    <script src="/static/js/lib/customlib.js"></script>
    <script src="/static/js/backbone-ws.js"></script>
    
    <script src="/static/js/models.js"></script>
    <script src="/static/js/collections.js"></script>

    <!-- Made a new view.js -->
    <script src="/static/js/view.js"></script>

    <script src="/static/js/controller.js"></script>


    <script src="/static/js/lightdata.js"></script>
    <script src="/static/js/pvdata.js"></script>
    <script src="/static/js/devicesdata.js"></script>
    <script src="/static/js/waterdata.js"></script>
    <script src="/static/js/blindsdata.js"></script>

    <script src="/static/js/collections-prod.js"></script>
</html>