.dataoverlaywrapper{
	position: relative;
	margin: auto;
}

.zonecontainer{
	z-index: 1;
	position: absolute;
}

.zonewrapper{
	position: relative;
}

.zoneholder{
	position: absolute;
	bottom:0;
	height: auto;
	width: auto;
}

.zonedatawrapper{
	position: relative;
}

.zonedatavalue{
	float:left;
	font-size: 30px;
}

.zonedataunit{
	float:right;
	font-size: 20px;
	color:whitesmoke;
}