div.light{
	background-color: rgba(145,145,145,0.5);
}

.rgb .light{
	height: 50%;
}

.lightname{
	float:left;
	width: 40%;
	height: 100%;
    font-family: "Lato-thin";
	font-size: 30px;
	background-color: rgba(0,0,0,0);
	border: solid 0px;
}

.lightname.off{
	color: whitesmoke;
}

.lightname.digital.on,
.lightname.analog.on{
	color: inherit;
}


.lightcontrolwrapper{
	float:right;
	width: 60%;
}

.sliderholder{
	height: 100%;
	background: rgba(145,145,145,0.5);
}

.sliderholder .ui-slider-handle {
    display:none;
}

.sliderholder.ui-corner-all{
   	border-radius: 0px;
   	border: solid 0px;
}

.digital .sliderholder .ui-slider-range{
   	background: rgba(206,218,77,1);
}

.analog .sliderholder .ui-slider-range{
   	background: rgba(206,218,77,1);
}

.rgb .sliderholder .ui-slider-range{

}

.hslslider{
	position: absolute;
	bottom: 0;
	height:50%;
	width: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, from(hsl(0, 69%, 49%)),color-stop(0.02857142857142857,hsl(10, 69%, 49%)),color-stop(0.05714285714285714,hsl(20, 69%, 49%)),color-stop(0.08571428571428572,hsl(30, 69%, 49%)),color-stop(0.11428571428571428,hsl(40, 69%, 49%)),color-stop(0.14285714285714285,hsl(50, 69%, 49%)),color-stop(0.17142857142857143,hsl(60, 69%, 49%)),color-stop(0.2,hsl(70, 69%, 49%)),color-stop(0.22857142857142856,hsl(80, 69%, 49%)),color-stop(0.2571428571428571,hsl(90, 69%, 49%)),color-stop(0.2857142857142857,hsl(100, 69%, 49%)),color-stop(0.3142857142857143,hsl(110, 69%, 49%)),color-stop(0.34285714285714286,hsl(120, 69%, 49%)),color-stop(0.37142857142857144,hsl(130, 69%, 49%)),color-stop(0.4,hsl(140, 69%, 49%)),color-stop(0.42857142857142855,hsl(150, 69%, 49%)),color-stop(0.45714285714285713,hsl(160, 69%, 49%)),color-stop(0.4857142857142857,hsl(170, 69%, 49%)),color-stop(0.5142857142857142,hsl(180, 69%, 49%)),color-stop(0.5428571428571428,hsl(190, 69%, 49%)),color-stop(0.5714285714285714,hsl(200, 69%, 49%)),color-stop(0.6,hsl(210, 69%, 49%)),color-stop(0.6285714285714286,hsl(220, 69%, 49%)),color-stop(0.6571428571428571,hsl(230, 69%, 49%)),color-stop(0.6857142857142857,hsl(240, 69%, 49%)),color-stop(0.7142857142857143,hsl(250, 69%, 49%)),color-stop(0.7428571428571429,hsl(260, 69%, 49%)),color-stop(0.7714285714285715,hsl(270, 69%, 49%)),color-stop(0.8,hsl(280, 69%, 49%)),color-stop(0.8285714285714286,hsl(290, 69%, 49%)),color-stop(0.8571428571428571,hsl(300, 69%, 49%)),color-stop(0.8857142857142857,hsl(310, 69%, 49%)),color-stop(0.9142857142857143,hsl(320, 69%, 49%)),color-stop(0.9428571428571428,hsl(330, 69%, 49%)),color-stop(0.9714285714285714,hsl(340, 69%, 49%)),to(hsl(350, 69%, 49%)));
}

.hslslider .ui-slider-handle {
	display:none;
}

/*.hslslider .ui-slider-handle {
	left: 19%;
	border: 3px solid rgb(245, 245, 245);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 80%;
	width: 5.5%;
	top: 0px;
	background: rgba(255, 0, 0, 0);
}*/

.hslslider.ui-corner-all{
   	border-radius: 0px;
   	border: solid 0px;
}

.hslslider .ui-slider-range{
   	background: none;
}