.shadow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3)
}

.shadow div{

}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 8%;
    margin: auto;
    z-index:5;
    padding: 20px;
    width: 67%;
    height: 0%;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    border: solid 1px;

    box-shadow: 0px 0px 100px #000;
     
}

.zonecontrolwrapper{
    float:left;
     height:100%;
     width:30%;
}

.lightswrapper{
    float:left;
    height:100%;
    width:70%;
    margin-top:5%;
}

.singlechannel{
	width: 92%;
    height: 93%;
	margin-right: 0;
	text-align: center;
}
.lightbutton{
	position: relative;
	width: 100%;
	height: 12%;
	text-align: center;
}

.lightbutton h3{
	position: absolute;
	bottom: 0;
	color: whitesmoke;
	padding: auto;

}

#zoneon{
	background-color: rgba(206,218,77,1);

}

#zoneoff{
	background-color: rgb(134, 134, 134);
}

#zonedimmer{
	background: rgb(134, 134, 134);
	height: 63%;
	width: 100%%;
}

#zonedimmer .ui-slider-handle {
    display:none;
}

#zonedimmer.ui-corner-all{
   	border-radius: 0px;
   	border: solid 0px;
}

#zonedimmer .ui-slider-range{
   	background: rgba(206,218,77,1);
}

.lightlistwrapper{
	height: 80%;
	width: 100%;
	margin: auto;
	margin-top: 1%;
}

.lightlist{
	list-style-type: none;
	height: 100%;
	width:100%;
}

.lightlist li{
    font-size:30px;
    margin-bottom: 2%;
    position:relative; 
}

.lightlist li:last-child{
    margin-bottom: 2%;
}

.analog,
.digital{
    height: 10%;
}

.rgb{
    height: 20%;
}

.hook{
    float:left;
    width:10%;
    height: 100%;
    position:absolute;
    right: 1000%;
    font-family: "Lato";
    font-size: 30px;
    background-color: rgba(0,0,0,0);
}

.lightviewwrapper{
    float: left;
}




