/* Control Page CSS */
#sidebar-wrapper{
	position:relative;
	float: left;
	height: 100%;
	width: 8%;
	background: rgb(26, 26, 26);
	z-index: 1;
}

#sub-nav-wrapper{
	position:relative;
	float: left;
	height: 100%;
	width: 0;
	z-index: -1;
}

#dashboard-wrapper{
	float: right;
	background-color: rgba(245, 245, 245, 0);
	width: 92%;
	height: 100%;
	opacity: 0;
}

.sidebar{
	height: 100%;
	width: 100%;
}

.main-nav{
	height: 90%;
	width: 100%;
}

.home-nav{
    margin: 0 19% 9.5% 22.5%;
    width: 59%;
}

.icon-nav{
	position: relative;
	width: 95%;
	height: 11%;
	margin: 0 0 9% 4.5%;
	list-style-type: none;
	border-right-style: solid;
	border-right-width: 5px;
}

.slider{
	position:absolute;
	right:0;
    height: 100%;
    width:0;
}

.icon-wrapper{
	position:absolute;
	float: left;
	padding: 9.5% 0 0 21%;
	width: 72.5%;
	height: 83%;
}

.icon-nav img{
	width: inherit;
	height: inherit;
}
