#pagewrapper{
	height: 100%;
	width: 100%;
	text-align: left;
	position: relative;
}

.page{
	height: 100%;
	width: 90%;
	margin-left: 5%;
}

.pagetitle{
	opacity: 1;
}

#pagecontent{
	height: 100%;
	width: 100%;
}