.powerpagecontent{
	height: 100%;
	width:100%;
}

.top{
	margin-top: 0%;
	text-align: right;
	float:left;
	height: 25%;
	width: 100%;
}

.bottom{
	float:left;
	height: 55%;
	width: 49.5%;
}

.netwrapper{
	border-top: 5px solid;
}

.netcontent{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}

#graphwrapper{
	background-color: rgba(128, 128, 128, 0.40);
}

#generationwrapper{
	float:left;
}

#consumptionwrapper{
	float:right;
	color:rgba(173,50,50,1);
}