.tableentrywrapper{
}

.tableentryid{
	float:left;
	height: 100%;
	width: 73%;
}

.tableentryvalue{
	text-align: right;
	float:left;
	height: 100%;
	width: 25%;
}

.tableentryvalue .value{
	font-size: 40px;
}

.tableentryvalue .unit{
	font-size: 15px;
}