.waterpagecontent{
	height: 100%;
	width:100%;
}

.waterpagecontent .content,
.waterpagecontent .content{
	border-top: 5px solid;
	height: 95%;
}

.top{
	margin-top: 0%;
	text-align: right;
	float:left;
	height: 25%;
	width: 100%;
}

.bottom{
	float:left;
	height: 55%;
	width: 49.5%;
}

.content{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}

.netwrapper{


}

#graphwrapper{
	background-color: rgba(128, 128, 128, 0.40);
}

.greywaterwrapper{
	float:left;
}

.consumptionwrapper{
	float:right;
	color:rgba(173,50,50,1);
}

.bottom .header{
	height:10%;
}

.subheader{
	font-family: 'Lato-light';
	width:40%;
	float:left;
}

.dataviewselection{
	float:right;
	width: 60%;
}

.dataviewselection input[type='radio']{
	opacity: 0;
}


.dataviewselection input[type="radio"] + label{
    /* keep pointer so that you get the little hand showing when you are on a button */
    cursor: pointer;
    /* the following are the styles */
    background: rgba(0,0,0,0);
    color: #aaa;
    border-radius: 10px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
}

.dataviewselection span {
    /* style this span element so we can display nicely, this stlying is not neccessary */
    margin-top: 15px;

    text-align: center;
    display: block;
    width: 30%;
    float: right;
}

input[type="radio"]:checked + label{
    /* style for the checked/selected state */
    padding-left: 10px;
    padding-right: 10px;
    background: #777;
    border: 1px solid #444;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}