.wikiNodeContainer{
	height: 100%;
	width: 100%;
}

.wikiNode{
	background-color: rgba(240,240,240,1);

  	text-align: center;
    text-overflow: ellipsis;

    margin: 26% auto 0 auto;
}

.backgroundFilter{
	background-color: rgba(240,240,240,0.35);
	height: 100%;
    width: 100%;
	overflow: hidden;
}

.nodeTitleWrapper{

}

.linkText{
	width: 100%;

	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Lato-bold';
    font-size:  10px;
	word-wrap:break-word;
}