.nodeWrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.nodeTitleWrapper{
	height: 30%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.filterForNow{
	height: 100%;
	width: 100%;
	background: rgba(240,240,240,0.35);
}

.nodeTitle{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	color: rgba(41,41,41,1);
}

.nodeTitle h1{

}

.nodeTextWrapper{
	height: 50%;
	width: 100%;
	overflow: scroll;
}

.nodeTableWrapper{
	height: 20%;
}

.nodeCategoryWrapper{
	height: 100%;
	width: 50%;
	float:left;
}

.nodeLinkWrapper{
	height: 100%;
	width: 50%;
	float:right;
}

.table{
	overflow: scroll;
}