<link href="/static/css/floorplandataoverlay.css" rel="stylesheet" type="text/css">
<div class='dataoverlaywrapper'>
<%
var that = this;
_.each(this.floorplanpaths.zones, function(zone){
	if(zone.databox){
		var data = that.collection.zoneData(zone.id);
%>
	<div id="<%=zone.id%>" class='zonecontainer' 
		style='left: <%=(zone.databox[0]+5)/3.5%>%;
				top: <%=(zone.databox[1]+5)/3%>%;
				width: <%=(zone.databox[2]-10)/3.5%>%;
				height: <%=(zone.databox[3]-10)/3%>%;
		'>
		

		<div class='zonewrapper'>
			<div class='zoneholder'>
				<div class='zonedatawrapper'>
					<span class='zonedatavalue'><%= data[0] %></span>
					<span class='zonedataunit'><%= data[1] %></span>
				</div>
			</div>
		</div>	
	</div>
<%
	}
});
%>
</div>
