<link href="/static/css/graph.css" rel="stylesheet" type="text/css">
<div class="graph">
	<!--
	<div class='graphbuttons'>
		<button id='day' class='histdata selected'>Day</button>
		<button id='week' class='histdata'>Week</button>
		<button id='month' class='histdata'>Month</button>
		<button id='year' class='histdata'>Year</button>
	</div>
	-->
	<div id="graphholder">
	</div>
</div>
<style>
button.histdata.selected{
	color: rgba(245, 245, 245, 1);
	background-color: <%=this.series[0].color %>;
}
</style>