<link href="/static/css/lightcontrol.css" rel="stylesheet" type="text/css">

<style>
	.analog,
	.digital,
	.rgb{
	    height: <%=this.height%>%;
	}
</style>

<div class="shadow">
	<div class="modal">
		<div class="zonecontrolwrapper">
			<h1><%= this.id%></h1>
            <div class="singlechannel">
                <div id="zoneon" class="lightbutton"><h3>ON</h3></div>
                <div id="zonedimmer"></div>
                <div id="zoneoff" class="lightbutton"><h3>OFF</h3></div>
            </div>
		</div>
		<div class="lightswrapper">
			<h2 style="text-align: right;">Lights</h2>
			<div class='lightlistwrapper'>
				<ul class='lightlist'>
					<% 
                    
                    _.each(this.lights, function(light) {
                    %>
                    <li class='<%=light.type%>'>
                    	<button class='hook'>
                    	</button>
                    	<div id='<%=light.id%>' class='lightviewwrapper' >
                    	</div>
                    </li>
                    <%
                    });
                    %>
				</ul>
			</div>
		</div>
	</div>
</div>