<link href="/static/css/status.css" rel="stylesheet" type="text/css">
<div class='dashboard'>
 			<div class='home-status-wrapper'>
         		<div class='header'>
         			<h1>etHOME</h1>
         		</div>
         		<div class='toppanes'>
         			<div class='nav-button status-pane lights'>
         				<h2>Lights</h2>
         				<div class="status-box">
         					<h4>
         						<span class='data'>12</span><br />
         						<span class='notdata'>lights on</span>
         					</h4>
         				</div>
         			</div>
         			<div class='nav-button status-pane hvac'>
         				<h2>HVAC</h2>
         				<div class="status-box">
         					<h4>
         						<span class='notdata'>outside</span><br />
         						<span class='data'>27</span>
         						<span class='unit'>°C</span>
         					</h4>
         					<h4>
         						<span class='notdata'>inside</span><br />
         						<span class='data'>23</span>
         						<span class='unit'>°C</span>
         					</h4>
         				</div>
         			</div>
         		</div>
         		<div class='middlepanes'>
         			<div class='nav-button status-pane windoor'>
         				<h2>Windows & Doors</h2>
         				<div class="status-box">
         				</div>
         			</div>
         			<div class='nav-button status-pane power'>
         				<h2>Power</h2>
         				<div class="status-box">
         					<h4>
                           <span class='notdata'>net metering</span><br />
                           <span class='data'>1.21</span>
                           <span class='unit'>GW</span>
                        </h4>
         				</div>
         			</div>
         			<div class='nav-button status-pane water'>
         				<h2>Water</h2>
         				<div class="status-box">
         					<h4>
         						<!--
         						<span class='notdata'>today</span><br />
         						-->
         						<span class='data'>17</span>
         						<span class='unit'>L</span>
         					</h4>
         				</div>
         			</div>
         		</div>
         		<div class='bottompanes'>
         			<div class='nav-button status-pane opt'>
         				<h2>Optimizer</h2>
         				<ul class='tips'>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							production is less than consump-tion
         						</div>
         					</li>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							your doors are unlocked
         						</div>
         					</li>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							its sunny but your lights are on
         						</div>
         					</li>
         					<li class='tip-box'>
         						<div class='just-the-tip'>
         							your rice is done
         						</div>
         					</li>
         				</ul>
         			</div>
         			<div class='nav-button status-pane sched'>
         				<img src ='/static/images/status.png'>
         				<h2>Current Mode</h2>
         			</div>
         		</div>
         	</div>
     	</div>