<link href="/static/css/water.css" rel="stylesheet" type="text/css">
<div class='waterpagecontent'>
	<div class='top netwrapper'>
		<div class='net content'>
			<div id='graphwrapper'>
			</div>
		</div>
	</div>
	<div class='bottom greywaterwrapper'>
		<div class='header'>
			<h2 class='water subheader'>Grey Water</h2>
			<div class='dataviewselection'>
				<span>
				<input id="greywatergraphic" name="greywater-view-selection" type="radio" value="graphic" checked="checked"></input>
				<label for="greywatergraphic">Graphic</label>
				</span>
				
				<span>
				<input id="greywaterhistory" name="greywater-view-selection" type="radio" value="history" ></input>
				<label for="greywaterhistory">History</label>
				</span>
			</div>
		</div>
		<div id='greywaterwrapper' class='greywater content'>

		</div>
	</div>
	<div class='bottom consumptionwrapper'>
		<div class='header'>
			<h2 class='subheader'>Consumption</h2>
			<div class='dataviewselection'>
				<span>
				<input id="consumptiontable" name="consumption-view-selection" type="radio" value="table" checked="checked" ></input>
				<label for="consumptiontable">Table</label>
				</span>
				
				<span>
				<input id="consumptiongraphic" name="consumption-view-selection" type="radio" value="graphic" ></input>
				<label for="consumptiongraphic">Graphic</label>
				</span>
				
				<span>
				<input id="consumptionhistory" name="consumption-view-selection" type="radio" value="history" ></input>
				<label for="consumptionhistory">History</label>
				</span>
			</div>
		</div>
		<div id='consumptionwrapper' class='consumption content'>
		</div>
	</div>
</div>