<link href="/static/css/wikinode.css" rel="stylesheet" type="text/css">
<style>
	<% 
		diameter = 2*model.get('radius')
	%>
	.wikiNodeContainer{
		line-height: <%=model.get('expanded')%>px;
	}
	.wikiNode{
		height: <%=diameter%>px;
		width: <%=diameter%>px;
		border-radius: <%=diameter%>px;
	}
	.backgroundFilter{
		border-radius: <%=diameter%>px;
	}
	.nodeTitleWrapper{
		height: <%=diameter%>px;
		width: <%=diameter%>px;
		line-height: <%=diameter%>px;
	}
</style>
<div class='wikiNodeContainer'>
	<div class="wikiNode">
		<div class='backgroundFilter'>
			<div class="nodeTitleWrapper">
				<span class='linkText'><%=model.get('title')%></span>
			</div>
		</div>
	</div>
</div>

