<link href="/static/css/wikidetail.css" rel="stylesheet" type="text/css">
<style>
	<% 
		imageURL = ''
		if(image = model.get('image')){
			imageURL = image['thumbBig']			
		}

	%>
	.detailTitleWrapper{
		background: url(<%=imageURL%>) no-repeat center center;
	}
</style>
<div class='detailWrapper'>
	<div class='detailTitleWrapper'>
		<div class='filterForNow'></div>
		<div class='detailTitle'>
			<h1><%=model.get('title')%></h1>
		</div>
	</div>
	<div class='detailTextWrapper'>
		<div class='detailText'>
			<p class='readableText'><%=model.get('summary')%></p>
		</div>
	</div>
	<div>

	</div>
</div>

