<link href="/static/css/wikidetail.css" rel="stylesheet" type="text/css">
<style>
	<% 
		if(image = model.get('image')){
			imageURL = image['thumbBig']
		}

	%>
	.detailTitleWrapper{
		background: url(<%=imageURL%>) no-repeat center center;
	}
</style>
<div class='detailWrapper'>
	<div class='detailTitleWrapper'>
		<div class='filterForNow'></div>
		<div class='detailTitle'>
			<h1><%=model.get('title')%></h1>
		</div>
	</div>
	<div class='detailTextWrapper'>
		<div class='detailText'>
			<p class='readableText'><%=model.get('summary')%></p>
		</div>
	</div>
	<!-- <div class='detailTableWrapper'>
		<div class='detailCategoryWrapper'>
			<div class='categoryHeader'>
				<h3>Categories<h2>
			</div>
			<div id='detailCategories' class='table'>
			</div>
		</div>
		<div class='detailLinkWrapper'>
			<div class='linkHeader'>
				<h3>Links<h2>
			</div>
			<div id='detailLinks' class='table'>
			</div>
		</div>
	</div> -->
</div>

